# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# Ollama Models
ollama/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Selenium
chromedriver.exe
